<h2>About</h2>
<div class="about-bio mat-body">
  I am a fullstack Web + Game Developer. I worked for 5 years in the game industry and now working as a Web Developer
  for more than 3 years. Learning to work with new frameworks and language is my hobby. Writing clean code, debugging and testing are some
  activities which I have to do at a regular basis. I have diverse set of skills which allows me to become the one stop solution for you to convert your requirements
  to functional and scalable applications.
</div>
<app-skills></app-skills>
