.menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.links{
  display: flex;
}

.menu-item{
  margin-left: 1rem;
  cursor: pointer;
}

.menu-active{
  border-bottom: 1px solid gray;
}
