<div class="menu">
  <div class="logo"></div>
  <div class="links">
    <div class="menu-item {{ isActive('home')?'menu-active':''}}" #menuHome (click)="goTo('home')">Home</div>
    <div class="menu-item {{ isActive('about')?'menu-active':''}}" #menuAbout (click)="goTo('about')">About</div>
    <div class="menu-item {{ isActive('works')?'menu-active':''}}" #menuWorks (click)="goTo('works')">Works</div>
    <div class="menu-item {{ isActive('contact')?'menu-active':''}}" #menuContact (click)="goTo('contact')">Contact</div>
  </div>
</div>

