.full-content{
  display: table-cell;
  vertical-align: middle;
}
.intro-box{
  text-align: center;
  margin-top: -7rem;
}

.intro-salutation{
  font-size: 2rem;
  line-height: 3rem;
}

.intro-name{
  font-size: 3rem;
  line-height: 4rem;
}


