/* You can add global styles to this file, and also import other style files */


*{
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

section{
  min-height: 100vh;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
}

app-home{
  display: table;
}

ul{
  list-style: none;
  padding-inline-start: 0px;
}
